.all-projects-section{

  padding-top: 64px;
  padding-bottom: 43px;
  @media(min-width:992px){
    padding-top: 88px;
    padding-bottom: 84px;
  }
  .display-1{
    margin-bottom: 56px;
    @media(max-width:992px){
      margin-bottom: 32px;
    }
  }
  .project-item{
    p{
      margin-bottom: 21px;
      @media(min-width: 992px){
        margin-bottom: 40px;
      }
    }

  }
}