header {
  transition: all .1s;
  padding-top: 32px;
  .row {
    align-items: center;
  }
  .logo {
    width: 195px;
    @media(max-width: 991px) {
      width: 170px;
    }
    path {
      fill: $blue;
      transition: all .3s;
    }
    &:hover {
      path {
        fill: $deepBlue;

      }
    }
  }
  &.white-themed {
    .lang {
      color: $black;
      &:hover{
        color: $deepBlue;
      }
    }
    .menu {
      svg {
        path {
          fill: $black
        }
      }
    }
  }
  &.black-themed {
    .lang {
      color: white;
      &:hover{
        color: $deepBlue;
      }
    }
    .menu {
      svg {
        path {
          fill: white
        }
      }
    }
  }
  .lang {
    font-size: 14px;
    line-height: normal;
  }
  .menu {
    margin-left: 44px;
    @media(max-width: 991px) {
      margin-left: 32px;
    }
    svg{
      path{
        transition: d 1s;
      }
    }
    &:hover {
      svg {
        path {
          fill: $deepBlue
        }
      }
    }

  }
}