.project-item {
  width: 261px;
  margin-right: 16px;
  &.fluid {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    h5 {
      color: $deepBlue;
    }
  }
  @media(min-width: 992px) {
    width: 512px;
  }
  .project-item--img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  h5 {
    transition: all .2s;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
    line-height: 20px;
  }
}

.project-item--container {
  @media(min-width: 992px){
    &:nth-of-type(even) {
      padding-right: 8px;
    }
    &:nth-of-type(odd) {
      padding-left: 8px;
    }
  }
}