$black:#1a1a1a;
$blackBG:#17181B;
$gray:#898989;
$blue:#3764EB;
$deepBlue:#2852CF;
*{
  font-family: "Clear Sans";
}
body.modal-open{
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;

}
#menu-umschool-img{
  @media(min-width: 991px){
    max-width: 373px;
  }
}
body.black-themed{
  color: white;
  background-color: $blackBG;
}
body.white-themed{
  color: $black;
  background-color: white;
  &.dental{
    background-color: #E5E5E5;

  }
  &.timer{
    background-color: #F7F7F7;
  }
}
.container{
  @media (max-width: 991px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}